body {
    background: orange;
    font-family:Calibri;
}

.assignment img {
    width:200px;
    padding:10px;
}

h1 {
    color: purple;
    text-align: center;
}

h2 {
    color: purple;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

.assignment {
display: flex;
padding: 10px;
margin: 10px;
background: violet;
}